{% extends "base.html" %}

{% block conteudo %}

<h1 style="margin-bottom:20px;">Gerador de Orçamento</h1>

<div class="card">

<h3 style="margin-bottom:20px;">Dados do Projeto</h3>

<form method="POST" action="/orcamento">

<label>Cliente</label>

<select name="cliente_id" required>

<option value="">Selecione um cliente...</option>

{% for cliente in clientes %}
<option value="{{ cliente.id }}">{{ cliente.nome }}</option>
{% endfor %}

</select>
<br><br>

<label>Largura (cm)</label>
<input type="number" name="largura" required>


<label>Altura (cm)</label>
<input type="number" name="altura" required>


<label>Profundidade (cm)</label>
<input type="number" name="profundidade" required>


<label>Preço MDF (R$)</label>
<input type="number" step="0.01" name="preco_mdf" required>


<button type="submit">
Calcular Orçamento
</button>

</form>

</div>


{% if preco_final %}

<div class="card" style="margin-top:20px; border-top:5px solid #10b981;">

<h3>Resultado do Orçamento</h3>

<p style="font-size:20px; font-weight:bold;">
Preço final: R$ {{ preco_final }}
</p>

</div>

{% endif %}

{% endblock %}